{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie</title>
    <link rel="stylesheet" type="text/css" href="{% static 'i_ticket_app/auth.css' %}">
</head>
<body>
    <form method="post" class="auth-form">
        {% csrf_token %}
        <p>
            <label for="id_username">Nazwa użytkownika:</label>
            <input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username">
        </p>
        <p>
            <label for="id_password">Hasło:</label>
            <input type="password" name="password" autocomplete="new-password" required="" id="id_password">
        </p>
        <button type="submit">Zaloguj</button>
    </form>
</body>
</html>
