.auth-form {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.auth-form label {
    font-weight: bold;
    display: block;
}

.auth-form input[type="text"],
.auth-form input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
}

.auth-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.auth-form button[type="submit"]:hover {
    background-color: #0056b3;
}
